/*-------------------Variables--------------------*/
/*-----------Colors------------*/

$main-font-color: #777;
$first-color: #58e1c1;
$second-color: #51ddfc;
$third-color: #927bc1;
$fourth-color:#fd7856;
$fifth-color: #deb2ee;

/*-----------Breakpoints------------*/

$break-m:768px;